.viewport-background {
    background-image: url('../src/images/background.png');
    background-color: #8bc7be83;
    background-size: cover;
    min-height: 100vh;
    flex-grow:1;
}

.viewport-background-color {
    background-color: #8bc7be83;
    min-height: max-content;
}

.header-background {
    background-image: url("https://images.unsplash.com/photo-1504674900247-0877df9cc836?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80");
    background-size: cover;
    background-repeat: no-repeat;
}

.header-welcome-font {
    font-family: cursive;
    font-weight: bold;
    font-size:x-large;
    color: #1013e4f8;
    text-decoration: none;
    padding-right: 50px;

}

.header-font-family {
    font-family: fantasy;
    font-size:50px;
    text-decoration: none;
    font-style: italic;
    color:#d12525; 
    /* border-Radius: '5px'; */
    padding: '8px 16px';
    display: 'inline-block'; 
}

.login-flex{
    display: flex;
    justify-content: center;
}
.login-container {
    width: 50%;
}


.recipe-container {
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.recipe-card {
    width: 280px;
    height: 280px;
}

.card-image {
    height: 200px;
    width:100%;
    object-fit: cover;
}

.home-page-recipe-name {
    font-family: cursive;
    text-decoration: none;
    color: #141615;
    font-weight: bolder;
}


.add-recipe-form-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh; 
}

.add-recipe-form-description {
    height: 200px;
}

.profile-card {
    display: flex;
}


.image-form-container{
    display: flex;
    justify-content: center;
}

.profile-image-container {
    padding: 30px;
    width: 40%;
}

.profile-image {
    width:50%
}

.profile-text {
    font-size:x-large;
    width: 600px;
    height: 400px;
    background-color: beige;
    font-family: fantasy;
}

.recipe-description-container{
    background-color: antiquewhite;
    width: 480px;
    min-height: 200px;
    border-radius: 10px;
    padding: 5px;
    font-family: cursive;
}

.others-profile-text {
    padding-left: 20px;
    font-family: cursive;
    text-decoration:none;
}

.comment-label {
    font-size: xx-large;
    font-weight: bolder;
}

.comment-container {
    display: flex;
    width: 80%;
    height: 300px;
    justify-content: center;
    min-height:200px;
    overflow-y: auto;
}

.comment-card {
    width: 70%;
    margin-bottom: 10px;
}

.comment-text {
    font-size: large;
    font-family:cursive;
}

.comment{
    border: 1px solid black;
    padding: 10px;
    margin-bottom: 10px;
}
.comment-font{
    font-size: large;
    overflow:scroll;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #332e53;
    font-weight: bold;
    height: 10%;

}
.image{
    width: 80px;
    height: 60px;
    padding-left: 10px;
    padding-right: 10px;
}

.like-food-button {
    background-color: gold;
    font-family: cursive;
    font-size: x-large;
}


@media only screen and (max-width: 760px){
    .profile-card {
        flex-direction: column;
    }
    .add-recipe-form {
        width: 90%;
        
    }
}

@media only screen and (max-width: 900px){
    .image-form-container{
        display:block;
    }

    .profile-image-container {
        width: 100%;
    }

    .profile-text {
        font-size:large;
        width: 100%;
    }
    
    .profile-image{
        width: 80%;
    }
    .recipe-description-container {
        width: 100%;
    }

}